<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximu-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="/public/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/main/main.css">
    <script src="/public/dist/js/bootstrap.js"></script>
    <script src="/public/dist/js/jquery.min.js"></script>
</head>

<body>
    <header id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-traget="carousel" data-slide="0"></li>
            <li data-target="carousel" data-slide="1"></li>
            <li data-target="carousel" data-slide="2"></li>
        </ol>
    </header>
    <nav>
        <ul>
            <li>导航01</li>
            <li>导航02</li>
            <li>导航03</li>
            <li>导航04</li>
            <li>导航05</li>
            <li>导航06</li>
            <li>导航07</li>
            <li>导航08</li>
        </ul>
    </nav>
    <main>
        <div class="content"></div>
        <aside></aside>
    </main>
    <footer></footer>
</body>

</html>