<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="/public/main.css">
</head>

<body>
<header>
    <marquee onMouseOut="this.start()" onMouseOver="this.stop()" loop="-1" behavior="alternate" scrolldelay="100" scrollamount="10vw" direction="right">
        <div class="banner"></div>
    </marquee>
</header>
<nav>
    <ul>
        <li>001</li>
        <li>002</li>
        <li>003</li>
        <li>004</li>
        <li>005</li>
        <li>006</li>
        <li>007</li>
        <li>008</li>
        <li>009</li>
    </ul>
</nav>
<main>
    <div class="content"></div>
    <aside></aside>
</main>
<footer></footer>
</body>

</html>